form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    border-radius: 3px;
}

#answer-box{
    border-radius: 3px;
    height: 50px;
    width: 300px;
    font-size: 16px;
    margin-bottom:20px;
}


.submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#score {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px; 
    font-weight: bold; 
    color: #ffffff; 
    background-color: #007bff; /* Background color */
    padding: 10px; /* Padding for inner content */
    border-radius: 5px; /* Add some rounded corners */
    width: 70px; 
    margin-left: 10px;
    text-align: center; /* Center-align the text */
  }